#header {
    .navigation-menu {
        .logo {
            width: 133px;

            img {
                width: 100%;
            }
        }

        .nav-ul {
            .nav-li {
                padding: 20px 10px;
                position: relative;
                &:hover{
                    .hover-ul{
                        opacity: 1;
                        transform: translateY(0);
                        visibility: visible;
                    }
                }
                    .nav-a {
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 0%;
                            height: 2px;
                            background-color:black;
                            transition: .5s ease-in;
                        }
                        &:hover::before{
                            width: 100%;
                        }
                    }
                    .hover-ul{
                        position: absolute;
                        top: 100%;
                        left: 0;
                        transform: translateY(20px);
                        opacity: 0;
                        visibility: hidden;
                        transition: .5s ease;
                        background-color:red;
                    }
            }
        }
    }
}

